@charset "utf-8";
/* CSS Document */

.sidebar{
	width: 300px;
	position: relative;
	margin: 0 20px 20px;
	float: left;
}
.boxes{
	padding: 20px;
}
.boxes p{
	text-shadow: none;
}

.container_widgets_pieces{
	padding: 0 10px;
	margin: 0 0 20px;
	position: relative;
}
.widget_corner, .widget_topbottom, .widget_sides{
	position:absolute;
}
.widget_topbottom{
	width: 100%;
	height: 20px;
}
.widget_sides{
	width: 20px;
	height: 100%;
}
.widget_corner{
	width: 20px; height: 20px;
	z-index: 1;
}
.widget_top_left{
	left: -20px; top:-20px;
	background-position: left top;
	z-index: 2;
}
.widget_top_center{
	left: 0; top:-20px;
}
.widget_top_right{
	right: -20px; top:-20px;
	background-position: right top;
	z-index: 2;
}
.widget_middle_left{
	left: -20px; top: 0px;
	background-position: left top;
}
.widget_middle_right{
	right: -20px; top: 0px;
	background-position: right top;
}
.widget_bottom_left{
	left: -20px; bottom:-20px;
	background-position: left bottom;
}
.widget_bottom_center{
	left: 0; bottom: -20px;
	background-position: left bottom;
}
.widget_bottom_right{
	right: -20px; bottom:-20px;
	background-position: right bottom;
}
.widget_content{
	overflow: hidden;
	width: 100%;
	text-align: justify;
	text-align-last: right;
}
.widget_content ul li{
	word-spacing:normal;
	word-wrap: normal;
	white-space: normal;
}
.widget_content img.responsive_fullwidth{
	width: 100%;
	height:auto;
}
.widget_token_right, .widget_token_left{
	position: absolute;
	width: 40px; height: 70px;
}
.widget_token_left{
	left: -5px; top: -5px;
}
.widget_token_right{
	right: -5px; top: -5px;
}
.widget_token_bottom{
	background-position: top center;
	background-repeat: no-repeat;
	width: 100%; height: 14px;
	position: absolute;
	left: 0;
}

.widget_content #searchform input[type="text"]{
	width:90%;
	padding: 5px;
}
.widget_content #searchform input[type="submit"]{
	display: none;
}
.widget_content ul.sub-menu, .widget_content ul.children{
	display:none !important;
	visibility:collapse;
	height:0;
	padding:0;
	margin:0;
}
.widget_content li{
	list-style:none;
	padding: 5px;
}
.widget_content select{
	padding: 8px;
	width: 100%;
}
.widget_content #wp-calendar{
	width:100%;
}
.widget_content #wp-calendar a{
	color:#C33;
}
.widget_content #wp-calendar tr td{
	text-align:center;
}
.widget_content #wp-calendar th{
	text-align:center;
}
.widget_content #wp-calendar caption{
	text-align:center;
	padding:5px 0 10px;
}
.sidebar_down, .sidebar_top{
	clear:both; 
	overflow:hidden; 
	margin: 0;
	padding: 5px 0 0;
}
.sidebar_down .boxes, .sidebar_top .boxes{
	width: 260px;
	float: left;
	margin: 0 10px 10px;
}
.sidebar_left, .sidebar_right{
}
.sidebar_left .boxes.boxcss, .sidebar_right .boxes.boxcss{
	margin-bottom: 20px;
}
.sidebar_left{
	float:left;
	margin:0 10px;
	width:300px;
}
.sidebar_right{
	float:right;
	width:300px;
	margin:0 10px;
}